.profile-container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profile-menu {
  display: flex;
  justify-content: center;
}

.profile-item{
  cursor: pointer;
  padding: 2rem;
}

.profile-item:hover {

}

.active {
  font-weight: 700;
}

.profile-content-item {
  margin-top: 4rem;
  text-align: center;
}

.profile-content-item > div {
  padding-bottom: 3rem;
}

button {
  width: 30rem;
}

.form-container {
  min-height: auto;
  margin-top: 3rem;
}
